.process-activity-form {
  .form-group {
    width: 90%;
  }
  .activity-btn-css {
    width: 10%;
    button {
      position: relative;
      top: 3px;
      right: -6px;
      padding: 5px;
    }
  }
}
.processSelectBox {
  .processSelect {
    width: 90%;
  }
  .activity-btn-css {
    width: 10%;
    button {
      position: relative;
      top: -3px;
      right: -6px;
      padding: 5px;
    }
  }
  .addProcessBtn{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}