<div class="row">
  <div class="col-md-4 col-12">
    <div class="d-flex justify-content-between align-items-center m-1">
      <label class="d-flex align-items-center">Show
        <select class="form-control mx-25" [(ngModel)]="selectedOption"  (change)="selectDropdown(selectedOption)">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </label>
    </div>
  </div>
  <div class="col-md-8 col-12 d-flex justify-content-start justify-content-md-end">
    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
      <label class="d-flex align-items-center mr-1 mb-0">Search <input [(ngModel)]="searchValue" name="searchValue"
          type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
          (search)="filterUpdate($event)" /></label>
      <button class="btn btn-primary round mr-1" *ngIf="subMenu.IsAdd" rippleEffect
        (click)="toggleSidebar('add-process','Add',subMenu)">
        <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
          class="d-none d-sm-inline-block">Add {{subMenu.DisplayName}}</span>
      </button>
      <!-- Export CSV Data  -->
      <a class="btn btn-outline-secondary float-right ml-1 mb-0" ngbTooltip="Export" (click)="exportReport()"
        rippleEffect><span [data-feather]="'download'"></span></a>
    </div>
  </div>
</div>
<ngx-datatable #tableRowDetails [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
  [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"  [count]="totalElements" [externalPaging]="true"  [offset]="Number"
  (page)="setPage($event)" [scrollbarH]="true">
  <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row" (click)="rowDetailsToggleExpand(row)">
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-row-detail [rowHeight]="50">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="ml-75 pl-5 pt-75">
        <div> <span><strong>ACTIVITY : </strong></span><span *ngFor="let cpa of row?.ActivityName;let last = last">
            {{cpa.value}}<ng-container *ngIf="last != true">,</ng-container></span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <ngx-datatable-column name="Process" prop="ProcessName" [resizeable]="true"></ngx-datatable-column>
  <ngx-datatable-column name="Sub-Process" prop="SubProcessName" [resizeable]="true"></ngx-datatable-column>
  <ngx-datatable-column name="Activity" prop="ActivityName" [resizeable]="true" [width]="160">
    <ng-template ngx-datatable-cell-template let-row="row">
      <span>
        <ng-container *ngIf="row?.ActivityName">
          <span>{{row?.ActivityName[0]?.value}} <ng-container *ngIf="row?.ActivityName?.length > 1">+
              {{row.ActivityName.length - 1}}</ng-container></span>
        </ng-container></span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="EST" prop="estimatedDuration" [resizeable]="true" [width]="90"></ngx-datatable-column>
  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column [width]="50" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [sortable]="false">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn">
      <div class="custom-control custom-checkbox pl-0">
        <div ngbDropdown container="body" ngbTooltip="Columns" placement="bottom">
          <button ngbDropdownToggle type="button" class="btn p-0" rippleEffect>
            <i class="d-block" [data-feather]="'settings'" [size]="16"></i>
          </button>
          <div ngbDropdownMenu>
            <ul class="pl-0">
              <li *ngFor="let col of allColumns" ngbDropdownItem class="d-flex align-items-center">
                <input type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)" />
                <label [attr.for]="col.name" class="pl-1">{{ col.name }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" [sortable]="false" [resizeable]="false"
    *ngIf="subMenu.IsUpdate || subMenu.IsDelete">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div ngbDropdown container="body">
        <button *ngIf="subMenu.IsUpdate" class="btn btn-icon btn-tms-secondary mr-1 btn-tms-theme" ngbTooltip="Edit"
          placement="left" rippleEffect (click)="toggleSidebar('add-process','Edit',row)">
          <span [data-feather]="'edit'"></span>
        </button>
        <button *ngIf="subMenu.IsDelete" class="btn btn-icon btn-tms-secondary btn-tms-delete" ngbTooltip="Delete"
          placement="left" [swal]="SweetAlertConfirmText" rippleEffect>
          <span [data-feather]="'trash-2'"></span>
        </button>
        <swal #SweetAlertConfirmText (open)="ConfirmTextOpen(row)"></swal>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<!-- Add Process -->
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="add-process" overlayClass="modal-backdrop">
  <app-add-process></app-add-process>
</core-sidebar>
<!--/ Add Process -->
<block-ui> </block-ui>